<div accordion ng-model="items" collapse-panel-id="collapse-panel" collapse-panel-body-id="collapse-panel-body"></div>

<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th>Changelist / Build</th>
      <th>Owner</th>
      <th colspan="2">Time Started</th>
      <th>State</th>
      <th>Metrics</th>
      <th>Build</th>
      <th>Unit Test</th>
      <th>Functional Test</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in items">
      <td scope="row" ng-if="item.build">{{ item.build }}</td>
      <td scope="row" ng-if="item.changelist">{{ item.changelist }}</td>
      <td>{{ item.owner }}</td>
      <td colspan="2">{{ item.timeStarted | date: 'short' | lowercase}}</td>
      <td>{{ item.state }}</td>
      <td>
        <progressbar progress="item.metrics"></progressbar>
      </td>
      <td>
        <progressbar progress="item.build"></progressbar>
      </td>
      <td>
        <progressbar progress="item.unitTest"></progressbar>
      </td>
      <td>
        <progressbar progress="item.functionalTest"></progressbar>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="row" ng-repeat="item in items">

</div>


<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
