<div class="panel-group" id="{{panelId}}"  role="tablist" aria-multiselectable="true">
    <div class="panel panel-default" ng-repeat-start="item in ngModel">
        <div class="panel-heading clearfix" role="tab">
            <span class="col-xs-1" ng-if="item.build"><img  src="images/Server-32.png"/></span>
            <span class="col-xs-1" ng-if="item.changelist"><img  src="images/Firewall-32.png"/></span>
            <span class="col-xs-1" ng-if="item.build">{{ item.build }}</span>
            <span class="col-xs-1" ng-if="item.changelist">{{ item.changelist }}</span>
            <span class="col-xs-1">{{ item.owner }}</span>
            <span class="col-xs-1">{{ item.timeStarted | date: 'short' | lowercase}}</span>
            <span class="col-xs-1">{{ item.state }}</span>
            <span class="col-xs-1">
                <progressbar progress="item.metrics"></progressbar>
            </span>
            <span class="col-xs-1">
                <progressbar progress="item.build"></progressbar>
            </span>
            <span class="col-xs-1">
                <progressbar progress="item.unitTest"></progressbar>
            </span>
            <span class="col-xs-1">
                <progressbar progress="item.functionalTest"></progressbar>
            </span>
            <a data-toggle="collapse" data-parent="#{{panelId}}" aria-expanded="true" aria-controls="{{panelBaseId}}-{{$index}}" href="#{{panelBaseId}}-{{$index}}">
                <i class="fa fa-caret-square-o-down fa-2x"></i>
            </a>
        </div>
        <div id="{{panelBaseId}}-{{$index}}" data-parent="#{{panelId}}" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">{{item.details}}</div>
        </div>
    </div>
    <div class="clearfix" ng-repeat-end></div>
</div>